# Core for Delivery
gunicorn
dash
dash-bootstrap-components

certifi
charset-normalizer
idna
matplotlib
packaging
pandas
Pillow
pyparsing
python-dateutil
pytz
requests
six
typing_extensions
tzdata
urllib3
Werkzeug

scipy
kaleido
openpyxl
